<a href="https://colab.research.google.com/github/beckaa-l/hello-world/blob/main/Mod_2_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import math

Problem 1 What is 12387123478 plus 234123423432? Calculate your answer using Python, and then enter your result as the answer below.

In [3]:
123_871_234_78 + 234_123_423_432

246510546910

In [4]:
246510546910 == 246510546910

True

In [9]:
a=123_871_234_78 + 234_123_423_432
b=246510546910
print(a==b)

True

In [15]:
246510546910 - 123_871_234_78

234123423432

What is 6134123 times 12312? Calculate your answer using Python, and then enter your result as the answer below.

In [10]:
6134123 * 12312

75523322376

In [16]:
75523322376 / 12312

6134123.0

What is 710? Calculate your answer using Python, and then enter your result as the answer below.

In [21]:
c = 7**10
c

282475249

In [22]:
d =7*7*7*7*7*7*7*7*7*7
d

282475249

In [23]:
c == d

True